/* comentario */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 20px;
}

header {
	background:#2c3e50;
	width:100%;
	padding:20px;
    color: white;


	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}





footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .RRSS {
	background:#e67e22;
}

footer .RRSS {
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}


.titulo{
    display: flex;
    flex-wrap: nowrap;

}