body{
    background-color: RED;
}


.contenedor {
	background:#ccc;
	width:90%;
	max-width:1000px;
	margin:auto;


	display:flex;
	flex-flow:row wrap;
}

body {
	background:#e9e9e9;
}

header {
	background:#2c3e50;
	width:100%;
	padding:20px;


	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}





footer{
    background:#2c3e50;
	width:100%;
	padding:20px;



}
